@media all and (max-width: 700px) {
    .logo1{
        display: flex;
        margin: 22px 0px 22px 16px;
    }

    .burguer_menu {
        display: block;
    }
    nav.menu_navigation {
        display: none;
    }

    nav.menu_navigation ul {
        display: block;
        flex-direction: column;
        float: right;
        background-color: #0000EC;
    }
        .menu_list {
            width: 320px 224px;
            margin: 0 217px 24px 16px;
            color: #FFFFFF;
        };

    .section1 {


        .title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            box-sizing: border-box;
            width: 350px;
            height: 90px;
            padding-left: -10px;
            margin: 29px 92px 10px -60px;
        }


        .hello {
            box-sizing: border-box;
            width: 85px;
            height: 42px;
            font-size: 36px;
            margin: 0px 0px 0px 0px;

        }

        .pale {
            box-sizing: border-box;
            width: 312px;
            height: 42px;
            font-size: 36px;
            margin: 36px 0 0 -210px;
        }

        .world {
            width: 120px;
            height: 42px;
            font-family: 'IBM Plex Sans';
            font-size: 36px;
            text-decoration-line: line-through;
            margin: 0px 0 0 4px;

        }
        
        .point {
            font-family: 'IBM Plex Sans';
            font-size: 36px;
            color: #060A24;
            margin: 36px 0 0 -114px;
        }

        .information {
            width: 288px;
            height: 66px;
            margin: 0px 0px 36px 0px;
            font-size: 16px;
        }

        .Boton1 {
            width: 288px;
            height: 48px;
            background-color: #00F3BB;
            font-size: 16px;
            margin: 0px 0px 24px 0px;
        }
        
    }
    .section2 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 320px;
        height: 1000.5px;
        background-image: linear-gradient(#0000FF, #0000A3);
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 calc(101% - 5vw));
        /* change the calc height to a percentage height to get alternate responsive behavior*/
        
        h2 {
            color: #ffffff;
            font-size: 36px;
            width: 157px;
            height: 42px;
            margin: 80px auto 36px 11px;
            
        }
    
        .ImgEpisode1, .ImgEpisode2, .ImgEpisode3, .ImgEpisode4 {
            width: 298px;
            height: 225px;
            margin: -30px 11px -34px 11px;
            padding: 0px;
        }
    }
    .section3 {
        display: flex;
        flex-direction: column;
    
        .imgsection3 {
            position: center;
            margin: -100px 10px 0px 10px;
            width: 299px;
            height: 519px;
        }

        .paragraph {
            grid-column-start: 2;

            h3 {
                width: 278px;
                height: 84px;
                margin: 27px 16px 8PX 16px; 
                font-size: 36px; 
        }
        .text3 {
            width: 254px;
            height: 255px;
            margin: 8px 13px 54px 16px;
            font-size: 14px;
            }
        }

    }
    .section4 {

        h4 {
            margin:0px auto 50px 16px;
            font-size: 36px;
        }
    
        img {
            display: block;
            height: 243px;
            width: auto;
        }
    
    }
    .section5 {

        h5 {
            width: 288px;
            height: 84px;
            font-size: 36px;
            margin: 48px 16px 37px 16px;
        }
    
        ol {
            display: flex;
            flex-direction: column;
            margin: 49px 20px 52px 20px;
        }
    
        li {
            box-sizing: border-box;
            width: 320px;
            height: 130px;
            font-size: 24px;
            display: flex;
            margin: 0 33.8px 81px 33.8px;
        }
    
        a {
            text-align: center;
            width: 104px;
            height: 104px;
        }

    }
    .section6 {
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        width: auto;
        height: 341px;
        background-image: linear-gradient(#0000FF, #0000A3);
        clip-path: polygon(0 23%, 100% 0, 100% 100%, 0 calc(100% - 0vw));
        /* change the calc height to a percentage height to get alternate responsive behavior*/
       
        h6 {
            text-align: center;
            color: #ffffff;
            font-size: 36px;
            margin: 80px 16px 50px 16px;
        }

        .Boton2 {
            position: relative;
            font-size: 16px;
            width: 288px;
            height: 48px;
            background-color: #00F3BB;
            margin: 0px 10px 67px 10px;
        }

        .Boton2:hover{
            color: #ffffff;
            background: linear-gradient(to right, #0000FE,#00F0B8);
        }
    
    }
    footer {
        display: flex;
        flex-direction: column;
        
        p {
            position: center;
            margin: 24px 46px 0 46px;
        }

        ol {
            display: flex;
            justify-content: space-around;
            position: center;
            margin: 16px 44px 31px 7px;
        }
        .Img_footer {
            width: 14px;
            height: 28px;
        }

    }

}